body {

    color: black;
    background-color: rgba(35, 134, 80, 0.856);
}

.jumbotron {
    color: #f7f7f7;
    background-image: url("../images/bacteria.jpg");
    background-size:  100% 100%;
    text-align: center;
}
.introduction {
    color: white;
}